@import url('https://fonts.googleapis.com/css2?family=FiraGO:wght@500&display=swap'); /* Import FiraGO font */

@tailwind base; /* Tailwind's base styles */
@tailwind components; /* Tailwind's component classes */
@tailwind utilities; /* Tailwind's utility classes */

/* Custom global styles */
body {
  @apply leading-[normal] m-0; /* Tailwind utilities for margin and line-height */
  font-family: 'FiraGO', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; /* System font stack */
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
  -moz-osx-font-smoothing: grayscale; /* Improve text rendering */
}

*, ::before, ::after {
  @apply border-0; /* Tailwind utility for border reset */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; /* Set monospace fonts for code */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
